#habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
    font-size: 2rem;
    margin-bottom: 10vh;
    margin-top: 10vh;

}

.tec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vw;

}

.icone {
    width: 7vw;
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 4vh;
}

#sobre h1 {
    font-size: 2rem;
}

#sobre p {
    width: 50vw;
    font-size: 1.3rem;
}

@media screen and (max-width: 800px) {
    .tec img {
        max-width: 10vw;
    }

    #sobre p {
        min-width: 80vw;
        font-size: 1.3rem;

        margin: 20px;
    }
}